.SharePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .imageBox {
    width: 100px;
    height: 122px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  .text {
    text-align: center;
    line-height: 28px;
  }
  .boldText {
    margin: 20px 0;

    p {
      color: #f18701;
    }
  }
}
